@media only screen and (min-width: 760px) {
header{width: 97.5%; display: block;}
header img{width: 8vw; float: left; margin-left:15vw;margin-right: 5vw;}


h2{margin-bottom: 0px;}
.heroDiv{
    position: relative;
}
.hero{
    height: 30vw;

}
h3{
    border-bottom: solid black 1px;
}

.menu-btn {
    visibility: hidden;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
  .menu-btn__burger {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
  .menu-btn::before {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
  .menu-btn::after {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
  .nav {
    visibility: visible;
    z-index: 1;
    position: inherit;
    
    
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    text-align: center;
    background: #0d3446;
    margin-top: 0;
    padding:0;
    width: 98vw;
    
  }
  .nav .menu-nav__item {
    display: inline;

  }
  .nav .menu-nav__item .menu-nav__link{
      padding:  0.5rem 1rem;
  }

  .heroDiv{
    position: relative;
  }
  .weatherSummary{
    position: absolute;
    top: 10px;
    left: 25px;
    width: 200px;
    text-align: center;
    border: solid black 1px;
    padding: 0;
  }
  
.fiveDay{
  display: block;

}
.days{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.days div{
  border: 1px solid black;
  margin: 3px;
}
.days h5{
  border-bottom: 1px solid black;
  margin-top: 1rem;
}

.article img{
  float: right;
  max-width: 25vw;
}


footer{
   width: 100%;
   display: block;

}
.finish{
    width: 98%;
}
footer div{display: inline-block;}
footer img{width: 20vw; float: left; margin-left:15vw;

}



.social-media {
   visibility:visible;
    bottom: 0.5vh;
  }
  
  .social-media a {
    margin: .5rem;
  }
  
  .social-media .p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
