.showme{
  display: block;
  background-color: #0d3446;
  margin: 0;
  padding: 1rem;
  text-align: center;
}
.hideme{
  display: none;
}



.header {
  padding: .3rem 2%;
  background-color: #71adb5;
  display: inline-block;
  width: 100%;
  padding: 10px;
}
header h1{display: inline; margin: auto; font-size: 1.5rem;}
header img{width: 20vw; float: left;}
header p{margin: auto; font-size: 1rem;}

h1, h2, h3, h4, h5, h6{
  font-family: 'Signika', sans-serif;
}
h2{
  font-size: 1rem;
}
doby{font-family: 'Lato', sans-serif;}

/*nav bar burger*/
.nav {
  position: fixed;
  top: -15px;
  right: 0;
  width: 70vw;
  opacity: 0.98;
  visibility: hidden;
  text-decoration: none;
  z-index: 1;
}
.nav.open {
  visibility: visible;
  z-index: 1;
}

.nav .menu-nav {
  display: block;
        text-align: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: #0e153a;
        list-style-type: none;
        padding-right: 1rem;
        top: 0;
          transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
          transform: translateY(0);
}

.nav .menu-nav__item {
          transform: translatex(100vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: black;
  background: #7393a7;
  
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 0;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: black;
  background: #7393a7;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.menu-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: fixed;
  right: 1rem;
  top: 1.5rem;
  width: 28px;
  height: 3px;
  background-color: #0d3446;
  transition: all 0.5s ease-in-out;
  z-index:3;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  right: 0;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #0d3446;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #0d3446;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
          transform: rotate(720deg);
  background: transparent;
  z-index: 2;
  
}

.menu-btn__burger.open::before {
          transform: rotate(45deg) translate(5px, 8px);
          background-color: #e8ecf1;
}

.menu-btn__burger.open::after {
          transform: rotate(-45deg) translate(3px, -7px);
  width: 28px;
  background-color: #e8ecf1;
}

.menu-nav__item:nth-child(1) {
          transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
          transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
          transition-delay: 0.55s;
}
.menu-nav__item:nth-child(5) {
          transition-delay: 0.65s;
}.menu-nav__item:nth-child(6) {
          transition-delay: 0.80s;
}
/*ends nav bar burger*/

/*placeholder*/
.placeholder-content img{
  max-width: 900px;
}
.placeholder-content {
  height: 205px;
  overflow: hidden;
  background: #000;
  position: relative;
  margin-left: 1rem;
  
  /* Animation*/
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: transparent; 
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; 
  }


@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}
.weatherSummary{
  padding: 1rem;
}

.fiveDay{
  border: solid black 1px;
  display: none;
}
.fiveDay h3{
  border-bottom:solid black 1px;
  text-align: center;
}
h2{
  margin-left: 1rem;
}
h2, h3{
  padding-left: 2vw ;
}

.article {
  padding: 5vw;
  max-width:90vw;
}
.article  img {
  
  max-width:90vw;
}




footer{

  background-color:#71adb5;
  text-align: left;
  color:#0e153a;
}
footer div{padding: .5rem 7vw;}
footer img{max-width: 85vw; padding: .5rem 7vw;}
.finish{
  margin: 0;
  background-color:#0e153a;
  padding: 1vw;
  text-align: center;
  color:#71adb5;
  font-size: .8rem;
  width: 90%;
}
.finish a {
  text-decoration: none;
  color: #71adb5;
}
.finish a:hover{
  text-decoration: underline;
  color: #71adb5;
}
.lastModified{
  background-color:#0e153a;
  padding: .5rem 7vw;
  text-align: center;
  color:#71adb5;
}
.social-media{
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.social-media img{
  padding-left: 0;
  margin: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.contact img{
  height: 15px;
  width: 15px;
  margin: 0;
  padding: 0;
}